<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>My Profile</h2>
        </div>
        <div class="panel-body">
            <div>
                <img src="/public/images/profile/{{.Profile.AvatarImg}}" class="img-rounded" alt="my profile"
                    width="200" height="200">
            </div>
            <label>Email: {{.Profile.Email}}</label>
            <label>Name: {{.Profile.Name}}</label>
        </div>
    </div>
</div>