<div class="container">
    <h2>Signup</h2>
    <form action="/profile/signup" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="pwd">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
            <label for="name">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
        </div>
        <div class="form-group">
            <label for="img">Password:</label>
            <input type="file" class="form-control" id="img" placeholder="img" name="img">
        </div>
        <button type="submit" class="btn btn-default">Signup</button>

    </form>
</div>